.tx-browser-pi1 .mapview {
  margin-top:1em;
}
.tx-browser-pi1 .mapview-content {
  padding:1em;
}
.tx-browser-pi1 .mapview-content form {
  padding-bottom:1em;
  text-align:center;
}
.tx-browser-pi1 .olControlAttribution {
  background-color:white;
  bottom:0px;
  right:0px;
}
.tx-browser-pi1 .olMap {
  margin: auto !important;
}
.tx-browser-pi1 .oxMapArea {
  width:600px;
  height:400px;
}
.tx-browser-pi1 .oxTextLayer {
  border:1px solid green;
  border-radius:6px;
  background:#fff;
  width:200px;
  overflow:hidden;
  position:absolute;
  padding:6px;
  box-shadow:3px 3px 3px #3d3d3d;
}
