<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <body>
<pre>
<em>

VERSION 7.1.0


DEFAULT TEMPLATE FOR SLICK CAROUSEL
===================================

</em>

<!-- ###TEMPLATE_LIST### begin -->
  <!-- ###LISTVIEW### begin -->
    LISTVIEW subpart will replaced by plugin.tx_browser_pi1.views.list.###MODE###.htmlSnippets.subparts.listview while runtime ...
  <!-- ###LISTVIEW### end -->
<!-- ###TEMPLATE_LIST### end -->


</pre>
  </body>
</html>